.header__container {
    width: min(100%, 1920px);
    margin-inline: auto;
    margin-top: 64px;
    padding-inline: clamp(16px, 6vw, 64px);
    overflow: hidden;
}

.pokeball__background {
    position: fixed; 
    top: 32px;
    right: 0;
    width: 210px; 
    height: 210px; 
    opacity: 0.12;
    transform: rotate(350deg) translateX(100px);
    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)),
        url('./assets/img/pokeball_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: lighten;
}

.pokeball__background2 {
    position: fixed; 
    top: 70vh;
    left: 0;
    width: 210px; 
    height: 210px; 
    opacity: 0.12;
    transform: rotate(350deg) translateX(-100px);
    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)),
        url('./assets/img/pokeball_background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: lighten;
}

.header__box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 10;
}

.header__searchbox {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.searchbar__container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-radius: 8px;
    border: 0;
    background-color: #2c2c2c;
    padding: 4px 0px 4px 16px;
}

.searchbar__container label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar__logo {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.searchbar {
    width: 100%;
    min-height: 33px;
    border-width: 0;
    background-color: transparent;
    font-size: 16px;
    color: white;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #4b4b4b;;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:  #c30202;
}

::-webkit-scrollbar-thumb:hover {
    background: #d60202;
}

.morepokemonbutton__section {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorites__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    width: 100%;
}