.bgcolor__grass1 {
    background-color: #D4E9DC !important;
}

.bgcolor__grass2 {
    background-color: rgb(203, 222, 223) !important;
}

.bgcolor__grass3 {
    background-color: rgb(175,189,175) !important;
}

.bgcolor__fire1 {
    background-color: rgb(223, 193, 154) !important;
}

.bgcolor__fire2 {
    background-color: rgb(184,135,116) !important;
}

.bgcolor__fire3 {
    background-color: rgb(206,171,132) !important;
}

.bgcolor__water1 {
    background-color: rgb(157, 194, 205) !important;
}

.bgcolor__water2 {
    background-color: rgb(163, 172, 198) !important;
}

.bgcolor__water3 {
    background-color: rgb(167, 192, 224) !important;
}

.bgcolor__bug1 {
    background-color: rgb(159,189,131) !important;
}

.bgcolor__bug2 {
    background-color: rgb(140, 182, 137) !important;
}

.bgcolor__bug3 {
    background-color: rgb(148, 171, 127) !important;
}

.bgcolor__normal1 {
    background-color: rgb(134, 123, 85) !important;
}

.bgcolor__normal2 {
    background-color: rgb(162, 149, 101) !important;
}

.bgcolor__normal3 {
    background-color: rgb(142, 130, 88) !important;
}

.bgcolor__poison1 {
    background-color: rgb(154, 95, 153) !important;
}

.bgcolor__poison2 {
    background-color: rgb(129, 82, 128) !important;
}

.bgcolor__poison3 {
    background-color: rgb(134, 90, 133) !important;
}

.bgcolor__fairy {
    background-color: rgb(206, 143, 205) !important;
}

.bgcolor__ground {
    background-color: rgb(226, 199, 130) !important;
}

.bgcolor__electric {
    background-color: rgb(249, 211, 61) !important;
}

.bgcolor__fighting {
    background-color: rgb(179, 61, 57) !important;
}

.bgcolor__psychic {
    background-color: rgb(247, 100, 144) !important;
}

.bgcolor__rock {
    background-color: rgb(173, 154, 59) !important;
}

.bgcolor__ice {
    background-color: rgb(159, 220, 217) !important;
}

.bgcolor__dragon {
    background-color: rgb(203, 78, 29) !important;
}

.bgcolor__dark {
    background-color: rgb(66, 66, 66) !important;
}

.bgcolor__ghost {
    background-color: rgb(113, 95, 137) !important;
}

.bgcolor__steel {
    background-color: rgb(183,183,206) !important;
}

.color__grass {
    color: #D4E9DC !important;
}

.color__fire {
    color: rgb(184, 135, 116) !important;
}

.color__water {
    color: rgb(157, 194, 205) !important;
}

.color__bug {
    color: rgb(159, 189, 131) !important;
}

.color__normal {
    color: rgb(134, 123, 85) !important;
}

.color__poison {
    color: rgb(202, 132, 201) !important;
}

.color__fairy {
    color: rgb(206, 143, 205) !important;
}

.color__ground {
    color: rgb(226, 199, 130) !important;
}

.color__electric {
    color: rgb(249, 211, 61) !important;
}

.color__fighting {
    color: rgb(179, 61, 57) !important;
}

.color__psychic {
    color: rgb(247, 100, 144) !important;
}

.color__rock {
    color: rgb(173, 154, 59) !important;
}

.color__ice {
    color: rgb(159, 220, 217) !important;
}

.color__dragon {
    color: rgb(203, 78, 29) !important;
}

.color__dark {
    color: rgb(66, 66, 66) !important;
}

.color__ghost {
    color: rgb(113, 95, 137) !important;
}

.color__steel {
    color: rgb(183, 183, 206) !important;
}

.color__dnone {
    display: none !important;
}


