.mpokemon__details {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.details__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.details__centralbox {
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 330px;
}

.details__centralbox img {
    height: 240px;
    width: auto;
}

.prev__pokemonbutton {
    position: absolute;
    left: 8px;
    top: 149px;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.next__pokemonbutton {
    position: absolute;
    right: 8px;
    top: 149px;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.prev__pokemonbutton img {
    height: 48px !important;
    width: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.next__pokemonbutton img {
    height: 48px !important;
    width: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
}

.types__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
    position: relative; 
    z-index: 2;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.6) 
    );
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 
                0px 4px 6px rgba(0, 0, 0, 0.1);
}

.type__box {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border-radius: 20px;
    font-size: 16px;
}

.type__box img {
    height: 48px;
    width: 48px;
}

.details__informationbox {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav__container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

nav button {
    border-width: 0;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
    max-height: 39px;
    position: relative; 
}

nav button::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 50%;
    width: 0%; 
    height: 3px; 
    background-color: white;
    border-radius: 2px;
    transition: width 0.1s ease-out, left 0.1s ease-out; 
}

.navbutton__open::after {
    width: 60%; 
    left: 20%; 
}

nav button:hover::after, nav button:active::after {
    width: 60%; 
    left: 20%; 
}

.detailed__information {
    padding-inline: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.information__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.information__text {
    font-size: 14px;
    text-align: justify;
}

.height__weight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background: linear-gradient(
        to top, 
        rgba(0, 0, 0, 0.9),
        rgba(255, 255, 255, 0.2) 
    );
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 
                0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.weightandheight__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weightandheight__box p {
    color: rgba(194, 194, 194, 0.474);
    font-size: 14px;
}

.weightandheight__container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.weightandheight__container img {
    height: 24px;
    width: 24px;
}

.weightandheight__text {
    color: white !important;
    font-weight: bold;
}

.seperator {
    height: 24px;
    background-color: rgba(194, 194, 194, 0.474);
    width: 1px;
}

.rest__informationbox {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rest__informationbox span {
    font-size: 14px;
}

.stats__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.stat__bar {
    background: #747474;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    width: 60%;
}

.stat__bar__fill {
    height: 100%;
    background-color: white;
    width: 0;
    border-radius: 5px;
}

.stat__text {
    width: 53px;
    color: rgba(255, 255, 255, 0.76);
}

.stats {
    font-weight: bold;
}

.description {
    font-size: 14px;
    color: #bbb;
}

.nature__description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.76);
}

.naturetext__bold {
    color: white;
}

@media(min-width: 500px) {
    .mpokemon__details {
        background-color: #5b5b5b;
        width: 390px;
        border-radius: 8px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 
                0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 16px;
        height: 820px;
    }
}

@media(max-width: 360px) {
    .prev__pokemonbutton {
        left: 0px;
    }
    
    .next__pokemonbutton {
        right: 0px;
    }

    .prev__pokemonbutton img {
        height: 40px !important;
    }
    
    .next__pokemonbutton img {
        height: 40px !important;
    }
}
