footer {
    min-height: 60px;
    background: #ffffff;
    box-shadow: 1px -3px 10px 0px #b9b8b8;
    display: flex;
    align-items: center;
}

.footer__container {
    width: min(100%, 1920px);
    margin-inline: auto;
    padding-inline: clamp(16px, 2vw, 32px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer__containerbottom {
    display: flex;
    gap: 16px;
}

.footer__linksextra, .footer__linksextra:visited {
    color: rgb(0, 0, 0);
    opacity: 70%;
}

.footer__linksextra:hover, .footer__linksextra:active {
    cursor: pointer;
    color: #ED5834;
}

.footer__credits {
    color: rgb(0, 0, 0);
    opacity: 70%;
}

@media(max-width: 450px){
    .footer__container {
        padding: 16px 0px;
    }

    .footer__containerbottom {
        align-items: center;
        flex-direction: column;
    }
}